@page "/games"
@using BlazorHtmx.Databases
@using BlazorHtmx.Features.Games
@using Microsoft.AspNetCore.Mvc

<head>
    <style>
        /* change focus color */
        .form-control:focus {
            border-color: #ff80ff;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 100, 255, 0.5);
        }

        .htmx-indicator {
            opacity: 0;
            transition: opacity 500ms ease-in;
        }

        .htmx-request.htmx-indicator {
            opacity: 1
        }
    </style>
</head>

<h1>Search</h1>

<div class="card p-4 mb-3">
    <h2 class="mb-3">
        <i class="bi bi-joystick"></i>
        Retro Games
        <img id="loading"
             class="htmx-indicator"
             src="img/pacman.gif"
             alt="search"
             width="16" />
    </h2>
    <div class="input-group mb-3">
        <span class="input-group-text"
              id="search-addon">
            <img id="search-icon"
                 src="img/search-heart.svg"
                 alt="search"
                 width="16" />
        </span>
        <input class="form-control"
               OnValidSubmit="OnSubmit"
               type="search"
               name="search"
               placeholder="Begin Typing To Search Games..."
               hx-get="/games/search"
               hx-trigger="input changed delay:500ms, search"
               hx-target="#search-results"
               hx-indicator=".htmx-indicator">
    </div>

    <table class="table table-borderless table-striped">
        <thead class="table-dark">
            <tr>
                <th>Year</th>
                <th>Publisher</th>
                <th>Console</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody id="search-results">
            <GameRows Games=@Database.Games />
        </tbody>
    </table>
</div>
