@page "/htmx-no-message"
@using BlazorHtmx.Components.Layout
@layout RazorComponent

<button class="btn btn-primary"
        hx-swap="outerHTML"
        hx-get="/htmx-message">
    Show message
</button>