@page "/search"

<head>
    <style>
        /* change focus color */
        .form-control:focus {
            border-color: #ff80ff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 100, 255, 0.5);
        }
    </style>
</head>

<h1>Search</h1>

<div class="card p-4 mb-3">
    <h2 class="mb-3">
        <img src="~/img/joystick.svg"
             alt="joystick"
             style="height: 2rem">
        Retro Games
        <img id="loading"
             class="htmx-indicator"
             src="~/img/pacman.gif"
             alt="search"
             width="16" />
    </h2>
    <div class="input-group mb-3">
        <span class="input-group-text"
              id="search-addon">
            <img id="search-icon"
                 src="~/img/search.svg"
                 alt="search"
                 width="16" />
        </span>
        <input type="text"
               asp-for="Query"
               id="query"
               autocomplete="off"
               hx-get="/results"
               hx-target="#results"
               hx-trigger="keyup changed delay:250ms"
               hx-indicator="#loading"
               placeholder="Search"
               class="form-control"
               aria-label="Username"
               aria-describedby="search-addon">
    </div>

    <table class="table table-borderless table-striped">
        <thead class="table-dark">
            <tr>
                <th>Year</th>
                <th>Publisher</th>
                <th>Console</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody id="results">
        </tbody>
    </table>
</div>

using System.Net;


@code {
    public class Search
    {
        private static List<Game> Games = new()
{
new (1993, "Super Mario Bros. 3", "Nintendo", "NES"),
new (1992, "The Legend of Zelda: A Link To The Past", "Nintendo", "SNES"),
new (1992, "Street Fighter II Turbo", "Capcom", "Arcade"),
new (1992, "Sonic The Hedgehog 2", "Sega", "Mega Drive"),
new (1986, "Outrun", "Sega", "Arcade"),
new (1978, "Space Invaders", "Taito", "Arcade"),
new (1992, "Streets Of Rage 2", "Sega", "Mega Drive"),
new (1994, "Super Metroid", "Nintendo", "SNES"),
new (1972, "Pong", "Atari", "Atari"),
new (1996, "Resident Evil", "Capcom", "Playstation"),
new (1995, "Chrono Trigger", "Squaresoft", "SNES")
};

        //public string? Query { get; set; }
        //
        //public List<Game> Results { get; private set; }
        //= Games;
        //
        //public IActionResult OnGet()
        //{
        // Results = string.IsNullOrEmpty(Query)
        // ? Games
        // : Games.Where(g => g.ToString().Contains(Query, StringComparison.OrdinalIgnoreCase)).ToList();
        //
        // if (!HttpContext.Request.IsHtmx())
        // return Page();
        //
        // Response.Htmx(h =>
        // {
        // // we want to push the current url
        // // into the history
        // h.Push(Request.GetEncodedUrl());
        // });
        //
        // return Page();
        // }
        // }

        public record Game(int Year, string Name, string Publisher, string Console);
    }
}